{% extends "layouts/base.html" %}

{% block title %} THC Home {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block content %}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                    <p>Welcome to THC's website. I'm sure it subverts expectations. It's just a place for me to put
                        things on the internet, expect literally nothing!</p><br/><br/>
                    A lot of my shit is broken.  I'm sorry. I'm working on it.  Don't judge me.

                    Here's some endorsements for MX GuardDog that will get me free tokens.<br/><br/>
                    Use MXGuardDog for a <a href="http://www.mxguarddog.com/exchange">free spam filter</a>. Don't judge
                    them for how weird their promotion hyperlinks are.
                </div>
            </div>
        </div>

        <!-- /.col -->
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
