{% extends "layouts/base.html" %}

    {% block content %}
    <div class="cube-wrapper">
      <div data-w-id="c34fa755-3ae2-4117-33c9-911a04538d3f" style="-webkit-transform:translate3d(0, 0%, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="floating-block">
        <div class="cube-top">
          <div class="cube-top-svg w-embed"><svg viewbox="0 0 1400 218">
              <path d="M140 0h1120l140 218H0z" fill="none" stroke="currentColor"></path>
            </svg></div>
        </div>
        <div class="block-content">
          <div class="block-title-wrapper">
            <h4 class="block-title">{{block_title}}</h4>
          </div>
          <div class="block-actions-wrapper">
            <div class="icon w-embed"><svg viewbox="0 0 25 25">
                <g fill="none" fill-rule="evenodd">
                  <path stroke="currentColor" stroke-width="2" d="M1 1h23v23H1z"></path>
                  <path d="M9.667 12.727L4 20h17l-4.25-5.818-2.876 3.942-4.207-5.397zm9.916-5.545c0-1.207-.949-2.182-2.125-2.182-1.175 0-2.125.975-2.125 2.182 0 1.207.95 2.182 2.125 2.182 1.176 0 2.125-.975 2.125-2.182z" fill="currentColor" fill-rule="nonzero"></path>
                </g>
              </svg></div>
            <div class="icon margin-right w-embed"><svg viewbox="0 0 25 25">
                <path d="M12.25 0c1.375 0 2.5 1.125 2.5 2.5S13.625 5 12.25 5a2.507 2.507 0 01-2.5-2.5c0-1.375 1.125-2.5 2.5-2.5zM23.5 8.75H16V25h-2.5v-7.5H11V25H8.5V8.75H1v-2.5h22.5v2.5z" fill="currentColor"></path>
              </svg></div>
          </div>
        </div>
      </div>
    </div>


        <div data-w-id="beb3c370-439b-4b17-2cb4-661a0ec8dc46" style="-webkit-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="block-wrapper">
          <div class="static-block">
              <div class="block-title-wrapper">
                  Stop looking at my goddamn placeholder page.
              </div>
          </div>
          </div>

    {% endblock content %}