{% extends "base.html" %}
{% block content %}
{% endblock %}
{% block content2 %}
<h1>Things I've Made</h1>

<h2>Mostly Finished</h2>
<a href='https://www.reddit.com/user/vizzy_t_bot'>Viserys Targaryen, AKA Vizzy T Bot</a> - This is without question the most successful thing I have done!  Huge thank you to r/freefolk for loving Vizzy.<br><br>
<a href="https://vizzy-t.com">Vizzy T's Website</a> - Because...why not, I was bored.<br/><br/>
<a href="https://whatsmyfuckingip.com">What's my fucking IP address?</a> - Spoils of the Edible War, November 2022.<br/><br/>

<h2>Unpolished</h2>
<a href="/yugioh.html">WIP - YuGiOh Card Searcher</a> - Input a card ID, get card info back.  More to come.<br/><br/>
<a href="/pass.html">Password Buddy</a> - A password generating website that sucks a little less than others.<br/><br/>
<a href="/bofh.html">THC Lab Helpdesk</a> - An automated help desk for all your IT needs<br/><br/>
<a href="https://theriskiestbiscuit.wtf">A ShitPost Disguised as a Website</a> - Spoils of the Edible War, November 2022.<br/><br/>
<a href="https://dm.does.gb.net">DM Does GB</a> - A URL redirecting site.<br/><br/>

<br/>


{% endblock %}
