{% extends "layouts/base.html" %}
{% block stylesheets %}

<style>
    .containerx {
        display: flex;
    }
    .left-columnx {
        padding: 10px;
        border: 1px solid green;
        }
   h1 {
      text-align: center;
    }
   h3 {
      text-align: center;
    }
    .right-columnx {
        flex: 70%;
        padding: 10px;
        border: 1px solid green;

    }
    .button-form {
            margin-bottom: 10px;
        }
        input[type=submit] {
            width: 100%;
            height: 50px;
            font-size: 18px;
            background-color: limegreen;
            color: black;
            border: none;
        }
        input[type=submit]:hover {
            background-color: darkgreen;
            color: white;
        }

    .button {
            width: 100%;
            height: 50px;
            font-size: 18px;
            background-color: limegreen;
            color: black;
            border: none;
        }


</style>
{% endblock stylesheets %}

{% block title %} Bad Ape {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}


{% block content %}


<div class="content-wrapper">


    <div class="containerx">
        <h1>Generic Password Generator</h1>
        <div class="left-columnx">
            <form action="/pass.html" class="button-form" method="post">
                <input name="kids" type="hidden" value="kids">
                <input type="submit" value="For Kids">
            </form>
            <form action="/pass.html" class="button-form" method="post">
                <input name="teens" type="hidden" value="teens">
                <input type="submit" value="For Teens">
            </form>
            <form action="/pass.html" class="button-form" method="post">
                <input name="adults" type="hidden" value="adults">
                <input type="submit" value="For Adults">
            </form>
            <form action="/pass.html" class="button-form" method="post">
                <input name="swears" type="hidden" value="swears">
                <input type="submit" value="Swears">
            </form>
        </div>
        <br><br><br>
        <div class="right-columnx">
            {% if password %}
            <h1><span>{{ password }}</span></h1>
            <h3><span>({{plaintext}})</span></h3>
            <br/>

            <button id="btn" class="button">Copy</button>
            <script>
                    const btn = document.getElementById('btn');

                    btn.addEventListener('click', function handleClick() {
                      btn.textContent = 'Copied!';
                    });

                    navigator.clipboard.writeText
                        ("{{ password }}")

            </script>
            <br/><br/>
            <div>{{previous}}</div>
            {% endif %}

        </div>
    </div>
    </div>


    {% endblock %}