{% extends "layouts/base.html" %}

{% block title %} Bad Ape {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}


{% block content %}
<div class="content-wrapper">

	<div class="content-header">
		<div class="container-fluid">

        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>For Kids</h3>
                  <form method="POST" action="/pass.html">
                    <button class="button" name="kids" type="submit" style="vertical-align:middle">
					<span STYLE="font-size: 10pt"><br/>
						({{kid_count}} possible passwords!)
					</span>
                    </button>
                  </form>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>For Teens</h3>
                  <form method="POST" action="/pass.html">
                    <button class="button" name="teens" type="submit" style="vertical-align:middle">
					<span STYLE="font-size: 10pt"><br/>
						({{teen_count}} possible passwords!)
					</span>
                    </button>
                  </form>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>For Work</h3>
                  <form method="POST" action="/pass.html">
                    <button class="button" name="adults" type="submit" style="vertical-align:middle">
					<span STYLE="font-size: 10pt"><br/>
						({{adult_count}} possible passwords!)
					</span>
                    </button>
                  </form>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>Swears</h3>
                  <form method="POST" action="/pass.html">
                    <button class="button" name="swears" type="submit" style="vertical-align:middle">
					<span STYLE="font-size: 10pt"><br/>
						({{swear_count}} possible passwords!)
					</span>
                    </button>
                  </form>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>Adult - 18+</h3>
                  <form method="POST" action="/pass.html">
                    <button class="button" name="sex" type="submit" style="vertical-align:middle">
					<span STYLE="font-size: 10pt"><br/>
						({{xxx_count}} possible passwords!)
					</span>
                    </button>
                  </form>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>


        <div class="row">
          <div class="col-md-8">

            <span id="pass" class="info">{{password}}</span>
            <br/><br/><br/><br/>
            <span id="plain" class="info2">({{plaintext}})</span>
            <br/><br/>
            <div>{{previous}}</div>
          </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}