{% extends "layouts/base.html" %}

{% block title %} Bad Ape {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}


{% block content %}
<div class="content-wrapper">

	<div class="content-header">
		<div class="container-fluid">

<form action="/yugioh.html" method = "POST">
		<p>Card ID / Password: <input type = "text" name = "id" /></p>
		<p><input type = "submit" value = "Submit"/></p>
	</form>
{% autoescape false %}
    <h1><font size="10">{{ response }}</font></h1><br/><br/><br/>
{% endautoescape %}
    <br>
    <br/>
    <br/>
        </div></div></div>
{% endblock %}