  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/static/icon.jpg" alt="THC" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">THC's Lab</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <!-- List Header -->
          <li class="nav-header">Info</li>

          <li class="nav-item">
            <a href="/about" class="nav-link">
                <i class="nav-icon fas fa-server"></i>
              <p>
                 About
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/about/status.html" class="nav-link">
                <i class="nav-icon fas fa-server"></i>
              <p>
                Status Page
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/about/shill.html" class="nav-link">
                <i class="nav-icon fas fa-server"></i>
              <p>
                Donate
              </p>
            </a>
          </li>

          <!-- List Header -->
          <li class="nav-header">Good Projects</li>

          <li class="nav-item">
            <a href="https://whatsmyfuckingip.com" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 Public IP Checker
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/prd/shorts.html" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 THC-Lab URL Shortener
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="https://dm.does.gb.net" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 dm.does.gb.net
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/prd/bofh.html" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 Automated Help Desk
              </p>
            </a>
          </li>

          <!-- List Header -->
          <li class="nav-header">Unfinished Projects</li>

          <li class="nav-item">
            <a href="/ongoing/pass.html" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 Password Generator
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="https://vizzy-t.com" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 Vizzy T
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/ongoing/yugioh.html" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 YuGiOh Card Lookup
              </p>
            </a>
          </li>

          <!-- List Header -->
          <li class="nav-header">Very Old</li>

          <li class="nav-item">
            <a href="/legacy/badape.html" class="nav-link">
              <i class="nav-icon fas fa-user-shield"></i>
              <p>
                Bad Ape
              </p>
            </a>
          </li>

          <li class="nav-item" hidden>
            <a href="/legacy/captain.html" class="nav-link">
              <i class="nav-icon fab fa-gitkraken"></i>
              <p>
                Captain's Site
              </p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  