  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/static/icon.jpg" alt="THC" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">THC's Lab</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <!-- List Header -->
          <li class="nav-header">Home</li>

          <li class="nav-item">
            <a href="/about.html" class="nav-link">
                <i class="nav-icon fas fa-server"></i>
              <p>
                 About
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/status.html" class="nav-link">
                <i class="nav-icon fas fa-server"></i>
              <p>
                Status Page
              </p>
            </a>
          </li>

          <!-- List Header -->
          <li class="nav-header">Production</li>

          <li class="nav-item">
            <a href="https://dndgpt.net" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 OpenAI D&D Generator
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="https://whatsmyfuckingip.com" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 Vulgar Public IP Checker
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="https://theriskiestbiscuit.wtf" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 A Web-Based Shitpost
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="https://narco.dog" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 Narco.Dog
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="https://pythonisgreat.com" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 PythonIsGreat Blog
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="https://carpathia.dev" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 Carpathia.dev
              </p>
            </a>
          </li>


          <li class="nav-header">Local Projects / Testing</li>

          <!-- List Header -->
          <li class="nav-item">
            <a href="/badape.html" class="nav-link">
              <i class="nav-icon fas fa-user-shield"></i>
              <p>
                Bad Ape
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/shorts.html" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 THC-Lab URL Shortener
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/pass.html" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 Password Generator
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/bofh.html" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 The BOFH Help Desk
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/yugioh.html" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 YuGiOh Card Lookup
              </p>
            </a>
          </li>

          <li class="nav-item" hidden>
            <a href="/captain.html" class="nav-link">
              <i class="nav-icon fab fa-gitkraken"></i>
              <p>
                Captain's Site
              </p>
            </a>
          </li>


          <li class="nav-item">
            <a href="https://dm.does.gb.net" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 Dunder Mifflin URL Shortener
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="https://vizzy-t.com" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                 Vizzy T's Site
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  