<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<title>{{small_title}}</title>
		<meta name="description" content="Password Generator"/>
		<meta name="keywords" content="password, generator, password generator" />
		<meta name="author" content="THC-Lab" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
	</head>

	<body>
		<div class="container">
			<header class="bp-header cf">
				<div class="dummy-logo">
					<h2 class="dummy-heading">THC-LAB</h2>
				</div>
				<div class="bp-header__main">
					<h1 class="bp-header__title">
						{{big_title}}
					</h1>
				</div>
			</header>
			<nav id="ml-menu" class="menu">
				<div class="menu__wrap">
					<a STYLE="font-size: 22pt" href="/">Home</a><br/>
					<a STYLE="font-size: 22pt" href="/projects.html">Projects</a><br/>
					<a STYLE="font-size: 22pt" href="https://github.com/TheGreatSkeeve/">GitHub</a><br/>
					{% block content %}
					{% endblock %}
				</div>
			</nav>
			<div class="content">
				{% block content2 %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>
