<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
    <style>
    a:hover {
  text-decoration: none;
  color: #FF0000;
    }
    a {
  text-decoration: none;
  color: #FF0000;
  font-size: 65;
    }
    </style>

    <h1><font size="12">Thanks for reaching out to the THC-LAB Help Desk!</font></h1><br/><br/><br/>
    <h3><font size="6">I've done some research on your request, and as near as I can tell, the cause of the issue is...</font></h3>
    <a href="{{ link }}">{{ response }}</a>
    </body>
</html>