{% extends "base.html" %}
{% block content %}
{% endblock %}
{% block content2 %}
Hello!  You're probably here for <a href="https://thc-lab.net/badape.html">BadApe</a>.  If not...<a href="/projects">go look at other I've written, I guess!</a>  Or hit me up if you want something written.  <br/>
<a href="https://www.patreon.com/thc_lab">Patreon</a> is also cool, if you feel like actually paying me to do something.<br><br>
Nothing else interesting to say!  I should be paying attention to RHCSA training.
{% endblock %}