{% extends "base.html" %}
{% block content %}
<form method="POST", action="/">
		<button class="button" name="kids" type="submit" style="vertical-align:middle"><span>For Kids</span><span STYLE="font-size: 10pt"><br/>({{kid_count}} possible passwords!)</span></button><span></span><br/>
		<button class="button" name="teens" type="submit" style="vertical-align:middle"><span>For Teens</span><span STYLE="font-size: 10pt"><br/>({{teen_count}} possible passwords!)</span></button><br/>
		<button class="button" name="adults" type="submit" style="vertical-align:middle"><span>For Work</span><span STYLE="font-size: 10pt"><br/>({{adult_count}} possible passwords!)</span></button><br/>
		<button class="button" name="swears" type="submit" style="vertical-align:middle"><span>Swears</span><span STYLE="font-size: 10pt"><br/>({{swear_count}} possible passwords!)</span></button><br/>
		<button class="buttonX" name="sex" type="submit" style="vertical-align:middle"><span>Adult - 18+</span><span STYLE="font-size: 10pt"><br/>({{xxx_count}} possible passwords!)</span></button><br/>
</form>
{% endblock %}
{% block content2 %}
<span id="pass" class="info">{{password}}</span>
<br/><br/><br/><br/>
<span id="plain" class="info2">({{plaintext}})</span>
<br/><br/>
<div>{{previous}}</div>
{% endblock %}