{% extends "base.html" %}
{% block content %}
{% endblock %}
{% block content2 %}
<h1>Things I've Made</h1>
<a href="/pass.html">Password Buddy</a> - A password generating website that sucks a little less, for a little bit.<br/>
<a href="/wordlist.html">About Password Buddy</a> - Wordlists used, if you're curious.<br/>
<a href="http://helpdesk.thc-lab.net">http://helpdesk.thc-lab.net</a> - An automated help desk for all your IT needs<br/>
<a href="http://captain.thc-lab.net">http://captain.thc-lab.net</a> - A dorky website I made years ago for a work buddy<br/>
<a href="http://thc-lab.net:8080">http://thc-lab.net:8080</a> - An HTTP tarpit that I send DDOSers to<br/>
<a href="/badape.html">https://badape.thc-lab.net</a>- BadApe, the ShillScoring Monkey.  Appears in Reddit Bot form as <a href="https://reddit.com/user/BadApe-Bot">u/BadApe-Bot.</a><br/><br/>
<h2>External links</h2>
<a href="https://github.com/TheGreatSkeeve?tab=repositories">Github</a> - My public Git repos<br/>
<a href="https://www.patreon.com/thc_lab">My Patreon</a> - In case you want me to build you something, and feel like offering me money!!  If it's easy and I don't have to host it, I'll totally do it for free.  <br/>
{% endblock %}