{% extends "base.html" %}
{% block content %}
{% endblock %}
{% block content2 %}
<h1>Things I've Made</h1>
<a href="/pass.html">Password Buddy</a> - A password generating website that sucks a little less, for a little bit.<br/><br/>
<a href="/bofh.html">THC Lab Helpdesk</a> - An automated help desk for all your IT needs<br/><br/>
<a href="http://thc-lab.net:8080">A HTTP tarpit</a> that I send spammy web crawlers to<br/><br/>
<a href="/badape.html">BadApe, the ShillScoring Monkey</a>Appears in Reddit Bot form as <a href="https://reddit.com/user/BadApe-Bot">u/BadApe-Bot.</a><br/><br/><br/>
{% endblock %}