{% extends "base.html" %}
{% block content %}
{% endblock %}
{% block content2 %}
<h1>Things I've Made</h1>
<a href="/yugioh.html">WIP - YuGiOh Card Searcher</a> - Input a card ID, get card info back.  More to come.<br/><br/>
<a href="/pass.html">Password Buddy</a> - A password generating website that sucks a little less, for a little bit.<br/><br/>
<a href="/bofh.html">THC Lab Helpdesk</a> - An automated help desk for all your IT needs<br/><br/>
<a href="http://thc-lab.net:8080">A HTTP tarpit</a> that I send spammy web crawlers to<br/><br/>
<a href="/badape.html">BadApe, the ShillScoring Monkey</a>Appears in Reddit Bot form as <a href="https://reddit.com/user/BadApe-Bot">u/BadApe-Bot.</a><br/><br/><br/>
<h1>Shameless Self-Promotion</h1>
<a href='https://www.buymeacoffee.com/SOBERLab'>Here's one of those "Buy me a coffee" pages if you REALLY really like something I did!  </a><br><br>

<a href='https://www.fiverr.com/zomgpython'>I also set up a Fiverr recently to see if anyone will actually pay me to make bots.</a>  If I could get a side job just making and maintaining bots I'd be set hahaha. 
{% endblock %}
