{% extends "base.html" %}
{% block content2 %}
<style>
    .column {
  float: left;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<div class="row">
    <div class="column">
        <center>
        <h1>Reddit Bots</h1>
        <h2>FreeFolk Bots</h2><br>
        <a href="https://www.reddit.com/user/vizzy_t_bot"><img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/YCENiBq0-2/vizzy-t-bot.svg"></a><br><br>
        <a href="https://www.reddit.com/user/stannis-mannis-bot"><img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/DESX0IgG-2/Stannis-Mannis-Bot.svg"></a><br><br>
        <a href="https://www.reddit.com/r/freefolksimulator"><img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/AXaJanOc-2/FreeFolkSimulator_comments.svg"></a><br><br>
        <a href="https://www.reddit.com/r/freefolksimulator"><img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/TS4hesjN-2/FreeFolkSimulator_Posts.svg"></a><br><br><br>

        <h2>SuperStore Bots</h2><br>
        <a href="https://www.reddit.com/user/elias-feet-bot"><img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/-szOOB4I-2/Elias-Feet-Bot.svg"></a><br><br>
        <a href="https://www.reddit.com/user/g-spot-bot"><img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/0Hp9OV6t-2/G-Spot-Bot.svg"></a><br><br>

        <h2>Other Reddit Bots</h2><br>
        <a href="https://www.reddit.com/user/KnightsOfHarambe"><img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/kj4C_T1l-2/KnightsOfHarambe.svg"></a><br><br>
        <a href="https://www.reddit.com/user/TheTrippiest_Raccoon"><img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/tpHN6HIg-2/TheTrippiest_Raccoon.svg"></a><br><br>
        <a href="https://www.reddit.com/r/lotrmemes"><img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/8F0U0MK9-2/LOTRMemes.svg"></a><br><br>
        <a href="https://www.reddit.com/r/soapboxbeers"><img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/6Pc1Sr07-2/Ron-Swanson.svg"></a><br><br>
        </center>
    </div>

    <div class="column">
        <center>

            <h1>Twitter Bots</h1><br>
            <a href="https://twitter.com/Vizzy_T_Bot"><img src="https://healthchecks.io/badge/a2bf0009-bc14-49c3-af0f-a97f53db0657/WRDiWjR4-2/Vizzy_T_Twitter.svg"></a><br><br>

            <h1>Web</h1><br>
            <a href="https://theriskiestbiscuit.wtf"><img src="https://healthchecks.io/badge/3b030bee-35c5-4c20-b721-f77661b36762/2XVy0F_J-2/https%253A%252F%252Ftheriskiestbiscuit.wtf.svg"></a><br><br>
            <a href="https://vizzy-t.com"><img src="https://healthchecks.io/badge/3b030bee-35c5-4c20-b721-f77661b36762/S66jfDbU-2/https%253A%252F%252Fvizzy-t.com.svg"></a><br><br>
            <a href="https://thc-lab.net"><img src="https://healthchecks.io/badge/3b030bee-35c5-4c20-b721-f77661b36762/mqypBpFI-2/https%253A%252F%252Fthc-lab.net.svg"></a><br><br>
            <a href="https://dm.does.gb.net"><img src="https://healthchecks.io/badge/3b030bee-35c5-4c20-b721-f77661b36762/en5uqkNc-2/https%253A%252F%252Fdm.does.gb.net.svg"></a><br><br><br>


            <h1>Discord Bots</h1><br>
            <img src="https://healthchecks.io/badge/4e37ed91-014d-46bb-bfd2-15e916fc0068/QC4jDTQZ-2/GoldiBot.svg"> - SoapBoxBeers Bot<br><br>
            <img src="https://healthchecks.io/badge/4e37ed91-014d-46bb-bfd2-15e916fc0068/LlmtHrMR-2/TGS-Bot-Admin.svg"> - General administrative bot<br><br>
            <img src="https://healthchecks.io/badge/4e37ed91-014d-46bb-bfd2-15e916fc0068/3aUzz-4k-2/TGS-Bot-DiscordBuddy.svg"> - THC's bot<br><br>
            <img src="https://healthchecks.io/badge/4e37ed91-014d-46bb-bfd2-15e916fc0068/4pke_PtK-2/TGS-Bot-FreeFolkDiscord.svg"> - Quotebot for FreeFolkSimulator server<br><br><br>
        </center>


    </div>

</div>





{% endblock %}