{% extends "base.html" %}
{% block content2 %}

<h1>Reddit Bots</h1>
<h2>FreeFolk Bots</h2><br><br>
<img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/YCENiBq0-2/vizzy-t-bot.svg"><br><br>
<img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/DESX0IgG-2/Stannis-Mannis-Bot.svg"><br><br>
<img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/AXaJanOc-2/FreeFolkSimulator_comments.svg"><br><br>
<img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/TS4hesjN-2/FreeFolkSimulator_Posts.svg"><br><br><br>

<h2>SuperStore Bots</h2><br><br>
<img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/-szOOB4I-2/Elias-Feet-Bot.svg"><br><br>
<img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/0Hp9OV6t-2/G-Spot-Bot.svg"><br><br>
<img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/fZ6flBHn-2/SuperStore.svg"><br><br><br>

<h2>Other Reddit Bots</h2><br><br>
<img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/8F0U0MK9-2/LOTRMemes.svg"><br><br>
<img src="https://healthchecks.io/badge/49a468d9-f385-47bb-8e67-5bb7b5637264/6Pc1Sr07-2/Ron-Swanson.svg"><br><br>

<h1>Twitter Bots</h1><br><br>
<img src="https://healthchecks.io/badge/a2bf0009-bc14-49c3-af0f-a97f53db0657/WRDiWjR4-2/Vizzy_T_Twitter.svg"><br><br>

<h1>Web</h1><br><br>
<img src="https://healthchecks.io/badge/3b030bee-35c5-4c20-b721-f77661b36762/2XVy0F_J-2/https%253A%252F%252Ftheriskiestbiscuit.wtf.svg"><br><br>
<img src="https://healthchecks.io/badge/3b030bee-35c5-4c20-b721-f77661b36762/Le6Ow4Vk-2/https%253A%252F%252Fsteve.haering.io.svg"><br><br><br>
<img src="https://healthchecks.io/badge/3b030bee-35c5-4c20-b721-f77661b36762/S66jfDbU-2/https%253A%252F%252Fvizzy-t.com.svg"><br><br><br>
<img src="https://healthchecks.io/badge/3b030bee-35c5-4c20-b721-f77661b36762/mqypBpFI-2/https%253A%252F%252Fthc-lab.net.svg"><br><br><br>

<h1>Discord Bots</h1><br><br>
<img src="https://healthchecks.io/badge/4e37ed91-014d-46bb-bfd2-15e916fc0068/QC4jDTQZ-2/GoldiBot.svg"><br><br>
<img src="https://healthchecks.io/badge/4e37ed91-014d-46bb-bfd2-15e916fc0068/LlmtHrMR-2/TGS-Bot-Admin.svg"><br><br>
<img src="https://healthchecks.io/badge/4e37ed91-014d-46bb-bfd2-15e916fc0068/3aUzz-4k-2/TGS-Bot-DiscordBuddy.svg"><br><br>
<img src="https://healthchecks.io/badge/4e37ed91-014d-46bb-bfd2-15e916fc0068/4pke_PtK-2/TGS-Bot-FreeFolkDiscord.svg"><br><br><br>

{% endblock %}