{% extends "base.html" %}
{% block content %}
<p>  I decided to write this website after being somewhat disappointed with <a href="https://dinopass.com">Dinopass</a>'s password generation.  I like the site, don't get me wrong, but it tends to generate passwords from phrases like "White bone", "Ugly Hippo", "Spicy Box", etc.. and I can't hardly give passwords like that to people in a professional work environment.  Some of them are too subtle for kids, some aren't.  <br/> <br/>
I've done my best to make relatively SFW wordlists, taking out any words that could possibly be misconstrued by an end user who is maybe a little more sensitive to that particular word / phrase.  If you notice any words you think should be removed, feel free to email me.  Likewise with any word addition suggestions.<br/> <br/>
Be advised, this site is obviously not kid friendly.  I don't have any warning on the explicit lists.  I plan to add one in eventually, but for now maybe don't send this site to any kids, just use it to make passwords for them. <br/>
</p>

{% endblock %}
{% block content2 %}
                <p>
                <h2>Adjectives for Kids:</h2>
                {{info[4][1]}}<br/>
                <h2>Nouns for Kids:</h2>
                {{info[4][0]}}<br/><br/><br/>

                <h2>Adjectives for Teens:</h2>
                {{info[1][1]}}<br/>
                <h2>Nouns for Teens:</h2>
                {{info[1][0]}}<br/><br/><br/>

                <h2>Adjectives for Work:</h2>
                {{info[0][1]}}<br/>
                <h2>Nouns for Work:</h2>
                {{info[0][0]}}<br/><br/><br/>

                <h2>Adjectives with Swears:</h2>
                {{info[2][1]}}<br/>
                <h2>Nouns with Swears:</h2>
                {{info[2][0]}}<br/><br/><br/>

                <h2>Graphic Adjectives:</h2>
                {{info[3][1]}}<br/>
                <h2>Graphic Nouns:</h2>
                {{info[3][0]}}<br/><br/><br/>
                </p>
{% endblock %}